.wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-gap: 8px;
}
.details-container{
    /*width: 100%;*/
    grid-area: 1/2;
    display: flex;
    flex-direction: row;
}
#detail{
    width: 100%;
    overflow-y: auto;

}
.table-container{
    grid-area: 1/1;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.table-coontrol{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

/* Makes multi-line table rows */
/*.tabulator-row .tabulator-cell {*/
/*    white-space: pre-wrap;*/
/*}*/


#right_panel {
    position: absolute;
    /*position: relative;*/
    width: 33.3333%;
    padding-left: 8px;
    height: 100%;
    right: 0;
    background-color: #d6e4ea;
}

#right_panel::after {
    content: '';
    background-color: #bec4d0;
    position: absolute;
    left: 0;
    width: 8px;
    height: 100%;
    cursor: ew-resize;
}