<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://unpkg.com/tabulator-tables@5.2.3/dist/css/tabulator.min.css" rel="stylesheet">
    <link href="./templates/main.css" rel="stylesheet">
</head>
<body>
<h1>Employer Tracking System</h1>
<div class="wrapper">
    <div class="table-container">
        <div class="table-control">
            <select id="filter-field">
                <option></option>
                {% for field in fields %}
                <option value="{{field}}">{{field}}</option>
                {% endfor %}
            </select>
            <select id="filter-type">
                <option value="like" selected>like</option>
                <option value="!=">!=</option>
                <option value="<"><</option>
                <option value="<="><=</option>
                <option value=">">></option>
                <option value=">=">>=</option>
                <option value="=">=</option>
            </select>
            <input id="filter-value" type="text" placeholder="value to filter">
            <button id="filter-clear">Clear Filter</button>
            <button id="download-csv">Download XLSX</button>
            <input id="new-column-name" type="text" placeholder="New Column Name">
            <button id="add-column">Add Empty Column</button>
            <button id="reset-table-layout">Reset Layout</button>
            <button id="myButton">my button</button>
            <span>Shift+Enter to submit cell </span>
        </div>
        <div id="table"></div>
    </div>

    <div id="right_panel" class="details-container">
        <div id="detail"></div>
    </div>
</div>
</body>
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.2.3/dist/js/tabulator.min.js"></script>
<script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
<script type="text/javascript" src="./templates/main.js"></script>
<script>


    const table_data = {{dataframe}}

    //   http://tabulator.info/docs/5.3/columns#definition
    const table = new Tabulator("#table", {
        height: "100%",
        data: table_data,
        autoColumns: true,  // automatically make columns structure by examining the first row of the table.
        autoColumnsDefinitions: autoColumnsDefinitions,
        resizableColumnFit: false,
        history: true,
        layout: "fitColumns",  //  the table will resize columns so that they fit inside the width of the container.
        rowContextMenu: rowMenu,
        movableColumns: true,
        columnDefaults: {
            tooltip: makeToolTipFunction(),
            // tooltip: true,
            editor: "input",
            headerMenu: headerMenu,
            resizable: 'header',
            headerTooltip: true,


        },
        // persistence: true, //enable table persistence
        // persistenceMode: "local", //store persistence information in a cookie
        clipboard: true, //enable clipboard functionality
        responsiveLayout: "collapse", // collapse columns that no longer fit on the table into a list under the row

    })

    // --------------------- Display Detail -------------------
    table.on('rowClick', function (e, row) {
        document.querySelector('#detail').innerHTML = row.getData().description_html
    })

    table.on("cellEditing", function (cell) {
        document.querySelector('#detail').innerHTML = cell.getRow().getData().description_html
    });

      tippy('#myButton', {
        content: 'My tooltip!',
      });

</script>
</html>