<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://unpkg.com/tabulator-tables@5.2.3/dist/css/tabulator.min.css" rel="stylesheet">

</head>
<body>
<div>
  <select id="filter-field">
    <option></option>
      {% for field in fields %}
      <option value="{{field}}">{{field}}</option>
            {% endfor %}
  </select>

  <select id="filter-type">
      <option value="like" selected>like</option>
      <option value="!=">!=</option>
      <option value="<"><</option>
      <option value="<="><=</option>
      <option value=">">></option>
      <option value=">=">>=</option>
      <option value="=">=</option>
  </select>

  <input id="filter-value" type="text" placeholder="value to filter">

  <button id="filter-clear">Clear Filter</button>
    <button id="download-csv">Download XLSX</button>
</div>
<div id="table"></div>
</body>
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.2.3/dist/js/tabulator.min.js"></script>
<script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
<script type="text/javascript" src="./templates/main.js"></script>
<script>


    const table_data = {{ dataframe }};

    const table = new Tabulator("#table", {
        height: 500,
        data: table_data,
        autoColumns: true,
        resizableColumnFit: true,
        // columnDefaults: {
        //     width: 200
        // },
        history: true,
        layout: "fitColumns",
        rowContextMenu: rowMenu,
        movableColumns: true,
        columnDefaults:{
            tooltip: true,
            editor: "input"
        },
        persistence:true, //enable table persistence
        persistenceMode:"cookie", //store persistence information in a cookie
        clipboard:true, //enable clipboard functionality

    })
    // table.on('rowClick', function (e, row) {
    //     alert('Row ' + row.getData().id + ' clicked')
    // })

//    var selectedData = table.getSelectedData(); //get array of currently selected data.
</script>
</html>