<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
    </head>

    <body>

        {{ dataframe }}

    </body>

    <script defer type="text/javascript">
        let myTable = new simpleDatatables.DataTable("#myTable", {
        searchable: true,
        fixedHeight: false,
        columns: [
            {
                select: 5,
                render: function(data, cell, row){
                    return data + "<button type='button' data-row='"  + row.dataIndex + "'>Select</button>"
                }

            }
        ]
        })
    </script>

</html>