{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <link href="/static/tabulator/dist/css/tabulator.css" rel="stylesheet">
{% endblock styles %}

{% block content %}
    <h1>Blanket application strategy</h1>
    <div class="wrapper">
        <div class="table-container">
            <div class="table-control">
                <input id="filter-value" type="text" placeholder="value to filter">
                <button id="filter-clear">Clear Filter</button>
                <button id="download-xls">Download xls</button>
                <button id="upload-csv">Upload CSV</button>
                <input id="new-column-name" type="text" placeholder="New Column Name">
                <button id="add-column">Add Empty Column</button>
                <button id="reset-table-layout">Reset Layout</button>
                <button id="commit-deleted">Commit Deleted</button>
                <!--            <span>Shift+Enter to submit cell </span>-->
            </div>
            <div id="table"></div>
        </div>

        <div id="right_panel" class="details-container">
            <div id="company-references">
                <div><b><span id="company-name-ref"></span> &#9755; <span id="title-ref"></span></b></div>
                <div>
                    <button type="button"><a id="homepage-ref">Company Homepage</a></button>
                    <button type="button"><a id="job-listing-ref">Listing Page</a></button>
                </div>
            </div>
            <div id="detail"></div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="static/tabulator/dist/js/tabulator.js"></script>
    <script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="static/scripts/main.js" type="module"></script>
    <script>
        {#let table_data#}
            {#= {{ table_json | tojson}}#}



    </script>

{% endblock scripts %}